﻿@model IngredientViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 align="center">@Html.DisplayFor(model => model.Name)</h1>
<hr style="background-image: linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />

<div class="row">
    <div class="col-md-6" align="center">
        <dl>
            <dt>
                <img src="@Url.Content(Model.ImgPath)" style="height:300px; width: 300px" />
            </dt>

        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning">Edit</a>
            @if (!Model.Cocktails.Any())
            {
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-warning">Delete</a>
            }
        </div>
    </div>

    <div class="col-md-6" style="background-color: lightgoldenrodyellow; overflow:auto; height:300px; ">
        <div style="display: block; width: 70%; margin: auto;  text-align: center; padding: 15px">
            <p style="color:black;font-size: 30px;">Not the ingredient you need?</p>
            <p style="color:black;">We have more tasty ingredients you can explore. You can</p>
            <p>
                <a asp-action="Index" role="button" class="btn" style="border-color: black;
                        background-color:lightgoldenrodyellow; color: black; font-size: 18px">Return to ingredients</a>
            </p>
            <p style="color: black;">and have fun.</p>
        </div>
    </div>
</div>

<hr style="background-image: linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />

<h3 align="center">Cocktails</h3>
<div class="row" style="align-content:center">
    @foreach (var item in Model.Cocktails)
    {
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail" style="margin: 10px 0px;">
                <a asp-action="Details" asp-controller="Cocktails" asp-area="" asp-route-id="@item.Id">
                    <img src="@Url.Content(item.ImgPath)" style="height:150px; width: 150px;" />
                </a>
                <div>
                    <span style="background-color:lightgoldenrodyellow; opacity:0.8; position:absolute; bottom:10px;
						padding:10px 5px; width:150px; text-align:center; line-height:1.4em">
                        @Html.DisplayFor(modelItem => item.Name)
                    </span>
                </div>
            </div>
        </div>
    }
</div>