﻿@using CocktailMagician.Web.Areas.Admin.Models
@model IngredientCreationViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>@Html.DisplayFor(model => model.IngredientViewModel.Name)</h4>
<hr style="background-image: linear-gradient(40deg, #FFC107, aquamarine, #FFC107)"/>
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="IngredientViewModel.Id" />
            <div class="form-group">
                <label asp-for="IngredientViewModel.Name" class="control-label"></label>
                <input asp-for="IngredientViewModel.Name" class="form-control" />
                <span asp-validation-for="IngredientViewModel.Name" class="text-danger"></span>
            </div>
			<div class="form-group" enctype="multipart/form-data">
				<input asp-for="File" type="file" accept="image/*">
				<span asp-validation-for="File"></span>
				<div class="form-group">
					<div class="col-md-10">
					</div>
				</div>
			</div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>