﻿@using CocktailMagician.Services.Providers
@model PageTransferInfo<IngredientViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 align="center">Ingredients</h1>
<hr style="background-image:linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />

<p align="center">
	<a asp-action="Create" class="btn btn-outline-warning">Create New Ingredient</a>
</p>

<div class="row" style="align-content:center">
	@foreach (var item in Model.Collection)
	{
		<div class="col-sm-2 col-md-2">
			<div class="thumbnail" style="margin: 10px 0px;">
				<a asp-action="Details" asp-route-id="@item.Id">
					<img src="@Url.Content(item.ImgPath)" style="height:160px; width: 160px;" />
				</a>
				<div>
					<span style="background-color:aquamarine; opacity:0.8; position:absolute; bottom:10px;
							padding:10px 5px; width:160px; text-align:center; line-height:1.4em">
						@Html.DisplayFor(modelItem => item.Name)
					</span>
				</div>
			</div>
		</div>
	}
</div>

<div class="row">
	@if (Model.TotalPages > 1)
	{
		<ul class="pagination">
			@if (Model.HasPreviousPage)
			{
				<li class="page-item ">
					<a href="~/Admin/Ingredients?page=@(Model.PageIndex-1)" class="page-link">@(Model.PageIndex - 1)</a>
				</li>
			}
			<li class="page-item ">
				<a href="~/Admin/Ingredients?page=@Model.PageIndex" class="page-link">@Model.PageIndex</a>
			</li>
			@if (Model.HasNextPage)
			{
				<li class="page-item ">
					<a href="~/Admin/Ingredients?page=@(Model.PageIndex+1)" class="page-link">@(Model.PageIndex + 1)</a>
				</li>
			}
		</ul>
	}
</div>