﻿@model BarCocktailsViewModel

@{
	ViewData["Title"] = "Add or Remove Cocktails";
}

<h1 align="center">@Html.DisplayFor(model => model.Bar.Name)</h1>
<hr style="background-image:linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />

<div class="row">
	<div class="col-sm-6" align="left">
		<img src="@Url.Content(Model.Bar.ImgPath)" style="height:300px; width: 450px; padding-bottom: 5px" />
		<p style="border:1px solid; border-color:#FFC107; width:450px" align="center">@Html.DisplayFor(model => model.Bar.Description)</p>

	</div>
	<div class="col-sm-6">
		<form asp-action="AddRemoveCocktails">
			<div class="demo-section k-content">
				<h2>Cocktails</h2>
				@(Html.Kendo().MultiSelect()
		.DataTextField("Name").DataValueField("Id")
		  .Name(nameof(Model.CocktailIds))
		  .Placeholder("Select Cocktails...")
		  .BindTo(Model.AllCocktails)
		  .Value(Model.Bar.Cocktails)
				)
			</div>
			<input type="hidden" asp-for="Bar.Name" value="@Model.Bar.Name" />
			<input type="hidden" asp-for="Bar.Description" value="@Model.Bar.Description" />
			<input type="hidden" asp-for="Bar.Address" value="@Model.Bar.Address" />
			<input type="hidden" asp-for="Bar.Phone" value="@Model.Bar.Phone" />
			<input type="hidden" asp-for="Bar.ImgPath" value="@Model.Bar.ImgPath" />
			<input type="hidden" asp-for="Bar.Id" value="@Model.Bar.Id" />
			<div class="form-group">
				<input type="submit" value="Edit Cocktails" class="btn btn-warning" />
			</div>
		</form>
		<div>
			<a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
		</div>
	</div>
</div>
