﻿@model BarViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr style="background-image:linear-gradient(40deg, #FFC107, aquamarine, #FFC107)"/>
    <dl class="row">
        <dt class = "col-sm-2"></dt>
        <dd class=" col-sm-10">
            <img src="@Url.Content(Model.ImgPath)" style="height:270px; width: 450px" />
        </dd>
        <dt class = "col-sm-2">
            Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
           Address
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            Phone
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            Rating
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageRating)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-warning" /> 
        <a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
    </form>
</div>
