﻿@model CocktailCreationViewModel

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cocktail</h4>
<hr style="background-image:linear-gradient(40deg, #FFC107, aquamarine, #FFC107)"/>
<div class="row">
	<div class="col-md-4">
		<form enctype="multipart/form-data" asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group" enctype="multipart/form-data">
				<input asp-for="File" type="file" accept="image/*">
				<span asp-validation-for="File"></span>
				<div class="form-group">
					<div class="col-md-10">
					</div>
				</div>
			</div>
			<div class="demo-section k-content">
				<h2>Ingredients</h2>
				@(Html.Kendo().MultiSelect()
		.DataTextField("Name").DataValueField("Id")
          .Name(nameof(Model.IngredientIds))
          .Placeholder("Select ingredients...")
          .BindTo(Model.AllIngredients)
          .Value(Model.IngredientIds)
    )
			</div>
			<div class="form-group" style="margin-top:5px;">
				<input type="submit" value="Create" class="btn btn-warning" />
				<a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
			</div>
		</form>
	</div>
</div>
@*<script>
		$(document).ready(function () {
			var ingredients = $("#ingredients").data("kendoMultiSelect");
			ingredients.wrapper.attr("id", "ingredients-wrapper");
		});
	</script>*@



