﻿@using CocktailMagician.Services.Providers
@model PageTransferInfo<CocktailViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 align="center">Deleted cocktails</h1>
<hr style="background-image:linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />

<div class="row" style="align-content:center">
	@foreach (var item in Model.Collection)
	{
		<div class="col-sm-6 col-md-6">
			<div class="thumbnail" style="margin: 10px 0px;">
				<a asp-action="DetailsDeleted" asp-route-id="@item.Id">
					<img src="@Url.Content(item.ImgPath)" style="height:350px; width: 320px;" />
				</a>
				<div>
					<span style="background-color:lightgoldenrodyellow; opacity:0.9; position:absolute; bottom:10px;
							padding:10px 5px; width:320px; text-align:center; line-height:1.4em">
						@Html.DisplayFor(modelItem => item.Name)<br />
						<i>Rating: </i>@Html.DisplayFor(modelItem => item.AverageRating)
					</span>
				</div>
			</div>
		</div>
	}
</div>

<div class="row">
	@if (Model.TotalPages > 1)
	{
	<ul class="pagination">
		@if (Model.HasPreviousPage)
		{
			<li class="page-item ">
				<a href="~/Cocktails/Deleted?page=@(Model.PageIndex-1)" class="page-link">@(Model.PageIndex-1)</a>
			</li>
		}
		<li class="page-item ">
			<a href="~/Cocktails/Deleted?page=@Model.PageIndex" class="page-link">@Model.PageIndex</a>
		</li>
		@if (Model.HasNextPage)
		{
			<li class="page-item ">
				<a href="~/Cocktails/Deleted?page=@(Model.PageIndex+1)" class="page-link">@(Model.PageIndex+1)</a>
			</li>
		}
	</ul>
	}
</div>