﻿@model CocktailViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr style="background-image: linear-gradient(40deg, #FFC107, aquamarine, #FFC107)"/>
    <dl class="row">
        <dd class=" col-sm-10">
                <img src="@Url.Content(Model.ImgPath)" style="height:350px; width: 350px" />
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
    </form>
</div>
