﻿@using CocktailMagician.Web.Areas.Member.Models
@model CocktailViewModel

@{
	ViewData["Title"] = "Details";
}

<h1 align="center">@Html.DisplayFor(model => model.Name)</h1>
<hr style="background-image:linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />

<div class="col-sm-12" align="center">
	<img src="@Url.Content(Model.ImgPath)" style="height:350px; width: 350px; padding-bottom: 5px" />
	<div class="col-sm-4" style="border:1px solid; border-color:#FFC107;"><p>@Html.DisplayFor(model => model.Description)</p></div>
	<div style="margin: 5px 0px;">
		@{
			var partialRating = new CocktailRatingViewModel { CocktailId = Model.Id, Rating = (int)Model.AverageRating };
			<partial name="_CocktailRatingPartial" model="@partialRating" />
		}
	</div>
	<div>
		@if (User.IsInRole("Admin"))
		{
			<a asp-action="EditIngredients" asp-route-id="@Model.Id" class="btn btn-outline-warning">Mix it up</a>
			<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning">Edit</a>
			<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-warning">Delete</a>
		}
		<a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
	</div>
</div>

<hr style="background-image: linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />

<h3 align="center">Ingredients</h3>
<div class="row" style="align-content:center">
	@foreach (var item in Model.Ingredients)
	{
		<div class="col-sm-3 col-md-3">
			<div class="thumbnail" style="margin: 10px 0px;">
				<img src="@Url.Content(item.ImgPath)" style="height:150px; width: 150px;" />
				<div>
					<span style="background-color:aquamarine; opacity:0.8; position:absolute; bottom:10px;
							padding:10px 5px; width:150px; text-align:center; line-height:1.4em">
						@Html.DisplayFor(modelItem => item.Name)
					</span>
				</div>
			</div>
		</div>
	}
</div>

@if (Model.Bars.Count > 0)
{
	<hr style="background-image: linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />
	<h3 align="center">Offered in</h3>
	<div class="row" style="align-content:center">
		@foreach (var item in Model.Bars)
		{
			<div class="col-sm-3 col-md-3">
				<div class="thumbnail" style="margin: 10px 0px;">
					<a asp-action="Details" asp-controller="Bars" asp-route-id="@item.Id">
						<img src="@Url.Content(item.ImgPath)" style="height:170px; width: 250px;" />
					</a>
					<div>
						<span style="background-color:burlywood; opacity:0.8; position:absolute; bottom:10px;
							padding:10px 5px; width:250px; text-align:center; line-height:1.4em">
							@Html.DisplayFor(modelItem => item.Name)
						</span>
					</div>
				</div>
			</div>
		}
	</div>
}

<hr style="background-image: linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />
@if (User.Identity.IsAuthenticated)
{
	{
		var partialComment = new CocktailCommentViewModel { CocktailId = Model.Id };
		<partial name="_CocktailCommentPartial" model="@partialComment" />
	}
}

<hr style="background-image: linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />

@if (Model.Comments.Count > 0)
{
	<h3 align="center">Comments</h3>
	<div class="container" align="center">
		<div class="card col-md-12">
			<div class="row">
				@foreach (var item in Model.Comments)
				{
					<div class="col-md-2">
						<img src="https://coinkeeper.io/uploads/avatars/default.png" class="img img-rounded" style="width:100px; height:auto" />
					</div>
					<div class="col-md-10 text-left">
						<p>
							<strong>@Html.DisplayFor(model => item.User)</strong>
						</p>
						<p>@Html.DisplayFor(model => item.Text)</p>
						<div class="form-group">
							@if (User.Identity.Name == item.User || User.IsInRole("Admin"))
							{
								<form asp-area="Member" asp-controller="CocktailComments" asp-action="Delete">
									<input type="hidden" name="@nameof(item.Id)" value="@item.Id" />
									<input type="submit" value="Delete" class="btn btn-outline-danger float-right" />
								</form>
							}
						</div>
					</div>
					<hr style="width:100%" />
				}
			</div>
		</div>
	</div>
}