﻿@model CocktailCreationViewModel

@{
	ViewData["Title"] = "Mix it up!";
}

<h1 align="center">@Html.DisplayFor(model => model.Name)</h1>
<hr style="background-image:linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />

<div class="row">
	<div class="col-sm-6" align="left">
		<img src="@Url.Content(Model.ImgPath)" style="height:350px; width: 350px; padding-bottom: 5px" />
		<p style="border:1px solid; border-color:#FFC107; width:350px" align="center">@Html.DisplayFor(model => model.Description)</p>

</div>
	<div class="col-sm-6">
		<form asp-action="EditIngredients">
			<div class="demo-section k-content">
				<h2>Ingredients</h2>
				@(Html.Kendo().MultiSelect()
		.DataTextField("Name").DataValueField("Id")
		  .Name(nameof(Model.IngredientIds))
		  .Placeholder("Select ingredients...")
		  .BindTo(Model.AllIngredients)
		  .Value(Model.IngredientIds)
				)
			</div>
			<input type="hidden" asp-for="Name" value="@Model.Name" />
			<input type="hidden" asp-for="Description" value="@Model.Description" />
			<input type="hidden" asp-for="ImgPath" value="@Model.ImgPath" />
			<input type="hidden" asp-for="Id" value="@Model.Id" />
			<div class="form-group">
				<input type="submit" value="Edit Ingredients" class="btn btn-warning" />
			</div>
		</form>
			<div>
				<a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
			</div>
	</div>
</div>


