﻿@using CocktailMagician.Services.Providers
@model PageTransferInfo<CocktailViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Cocktails</h1>
<hr style="background-image:linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />

@using (Html.BeginForm())
{
    <p align="center">
        Find cocktail: @Html.TextBox("FilterOption")
        <input type="hidden" name="page" value="1" />
        <input type="submit" value="Search" role="button" class="btn btn-outline-warning" />
    </p>
}

<div align="center">
    <a href='@Url.ActionLink("Index", "Cocktails", new { sortOption = ViewBag.SortByName })' class="btn btn-outline-warning">Sort by name</a>
    <a href='@Url.ActionLink("Index", "Cocktails", new { sortOption = ViewBag.SortByRating })' class="btn btn-outline-warning">Sort by rating</a>
</div>

<hr style="background-image:linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />

<div align="center">
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" role="button" class="btn btn-outline-warning">Create New Cocktail</a>
    }
</div>

<div class="row" style="align-content:center">
    @foreach (var item in Model.Collection)
    {
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail" style="margin: 10px 0px;">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="@Url.Content(item.ImgPath)" style="height:350px; width: 320px;" />
                </a>
                <div>
                    <span style="background-color:lightgoldenrodyellow; opacity:0.9; position:absolute; bottom:10px;
							padding:10px 5px; width:320px; text-align:center; line-height:1.4em">
                        @Html.DisplayFor(modelItem => item.Name)<br/>
                        <br />
                        <i>Rating:</i> @Html.DisplayFor(modelItem => item.AverageRating)
                    </span>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    @if (Model.TotalPages > 1)
    {
        <ul class="pagination">
            @for (var page = 1; page <= Model.TotalPages; page++)
            {
                <li class="page-item @(page == Model.PageIndex ? "active" : "")">
                    @if (ViewBag.CurrentFilter != null)
                    {
                        <a href="~/Cocktails?filterOption=@ViewBag.CurrentFilter&page=@(page)" class="page-link">@(page)</a>
                    }
                    else if (ViewBag.CurrentSort != null)
                    {
                        <a href="~/Cocktails?sortOption=@ViewBag.CurrentSort&page=@(page)" class="page-link">@(page)</a>
                    }
                    else
                    { 
                        <a href="~/Cocktails?page=@(page)" class="page-link">@(page)</a>
                    }
                </li>
            }
        </ul>
    }
</div>