﻿@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="background-color: black; width:100%">
    <img src="~/images/home-cocktail.jpg" style="opacity: 0.3; width: 100%; height:500px; position: relative;
    display: inline-block;" />
    <div style="color: white; position: absolute; text-align: center; width: 100%; top:18%; left:10px; ">
        <h1>Welcome to the world, full of wonders.</h1>
        <h3>Find your inner magician and start exploring.</h3>
    </div>
</div>

<hr style="background-image: linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />

<div class="container text-center" style="padding-top:10px">
    <h1>What to expect?</h1>
    <div class="row">
        <div class="col-4">
            <img src="~/images/bar-icon.png" style="width:120px; height:120px" />
            <h5>The best bars in Bulgaria.</h5>
            <small class="text-muted">Here you will find our suggestions for the best pubs around the country. Visiting them with friends is a guarantee for maximum fun.</small>
        </div>
        <div class="col-4">
            <img src="~/images/cocktail-icon.png" style="width:120px; height:120px" />
            <h5>The most delicious cocktails.</h5>
            <small class="text-muted">You can explore the most ordered drinks of this year. We suggest you to try them all. Well...not at once. ;) You know...headache.</small>
        </div>
        <div class="col-4">
            <img src="~/images/karaoke-icon.png" style="width:120px; height:120px" />
            <h5>Karaoke and live music.</h5>
            <small class="text-muted">Most of the bars we selected have karaoke and live music. Whether you are a musical prodigy, or just love a good rhytm, this is the place for you.</small>
        </div>
    </div>
    <hr style="background-image: linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />
    <div>
        <h4>Top-rated bars</h4>
        <div class="row" style="align-content:center">
            @foreach (var bar in Model.TopThreeBars)
            {
                <div class="col-sm-4 col-md-4">
                    <a asp-action="Details" asp-controller="Bars" asp-route-id="@bar.Id">
                        <img src="@Url.Content(bar.ImgPath)" style="height:200px; width: 300px;" />
                    </a>
                    <h5>@Html.DisplayFor(model => bar.Name)</h5>
                    <p class="text-muted">@Html.DisplayFor(model => bar.Address)</p>
                </div>
            }
        </div>
    </div>
    <hr style="background-image: linear-gradient(40deg, #FFC107, aquamarine, #FFC107)" />
    <div>
        <h4>Top-rated cocktails</h4>
        <div class="row" style="align-content:center">
            @foreach (var cocktail in Model.TopThreeCocktails)
            {
                <div class="col-sm-4 col-md-4">
                    <a asp-action="Details" asp-controller="Cocktails" asp-route-id="@cocktail.Id">
                        <img src="@Url.Content(cocktail.ImgPath)" style="height:200px; width: 200px;" />
                    </a>
                    <h5>@Html.DisplayFor(model => cocktail.Name)</h5>
                </div>
            }
        </div>
    </div>

</div>