﻿@model CocktailMagician.Web.Areas.Admin.Models.UserViewModel

@{
	ViewData["Title"] = "Ban";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ban</h1>


<h4>User</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Ban">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="BannedUntil" class="control-label"></label>
				<input asp-for="BannedUntil" class="form-control" />
				<span asp-validation-for="BannedUntil" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-danger" />
				<a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
			</div>
		</form>
	</div>
</div>
