﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 align="center">@ViewData["Title"]</h1>

<div class="container" align="center">
    <div>
        <img src="~/images/user-icon.png" style="width:100px; height:100px; margin-bottom:-25px" />
    </div>
    <div class="col-md-4" style="border: 1px solid #f9d341; ">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-warning" style="width:200px">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-warning" style="width:200px">Register as a new user</a>
                    </p>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-warning" style="width:200px">Forgot your password?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>