﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 align="center">@ViewData["Title"]</h1>
<div class="container" align="center">
    <div>
        <img src="~/images/user-icon.png" style="width:100px; height:100px; margin-bottom:-25px" />
    </div>
    <div class="col-md-4" style="border: 1px solid #f9d341; ">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-warning" style="margin-bottom:5px">Register</button>
        </form>
    </div>
</div>