﻿@using CocktailMagician.Web.Areas.Member.Models
@model BarRatingViewModel
<form asp-area="Member" asp-controller="BarRatings" asp-action="Create">
	@(Html.Kendo().Rating()
		.Name("Rating")
		.Min(1)
		.Max(5)
		.Value(Model.Rating)
		.Precision("half")
			)
	<input type="hidden" asp-for="BarId" />
	@if (User.Identity.IsAuthenticated)
	{
	<input type="submit" value="Rate" class="btn btn-warning" />
	}
</form>
