﻿@using CocktailMagician.Web.Areas.Member.Models
@model BarCommentViewModel
	<form asp-area="Member" asp-controller="BarComments" asp-action="Create">
		@Html.TextAreaFor(m => m.Text, 4, 125, new { @class = "form-control" })
		<input type="hidden" asp-for="BarId" />
		<input type="submit" value="Add Comment" class="btn btn-warning" />
	</form>

