﻿@using CocktailMagician.Web.Areas.Member.Models
@model CocktailCommentViewModel
<form asp-area="Member" asp-controller="CocktailComments" asp-action="Create">
	@Html.TextAreaFor(m => m.Text, 4, 125, new { @class = "form-control" })
	<input type="hidden" asp-for="CocktailId" />
	<input type="submit" value="Add Comment" class="btn btn-warning" />
</form>